html {
  font-size: 16px;
  font-family: Lato, sans-serif;
  color: #8c8c8c;
}
.bold {
  font-weight: bold;
}

/* NAVIGATION */
nav {
  display: flex;
  align-items: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;

  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: white;
}
.company {
  display: flex;
  align-items: center;
  margin-left: 1.25rem;
}
.company img {
  margin-right: .5rem;
  max-height: 3rem;
}
.company .bold {
  font-size: 1.25rem;
  color: black;
}
.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav li {
  margin-right: 1rem;
}

/* BANNER*/
.banner {
  background-color: #C0C0C0;
}
.banner-info {
  display: flex;
}
.banner-info img {
  width: 60vw;
  margin: 2rem 2.5rem 2rem 1.5rem;
}
.banner-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.banner-text h1 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
}
p.credit {
  font-size: .75rem;
  margin-top: 2rem;
}
.start-button {
  color: white;
  background-color: darkblue;
  padding: 1rem 4rem;;
  position: relative;
  top: 2rem;
}

/* INFO SECTION */
.info {
  display: flex;
  width: 100%;
}
.info-main {
  width: 60%;
  margin: 1rem 1.5rem;
  padding-bottom: 2rem;
}
.info-main img {
  width: 100%;
  padding-top: 1rem;
}
.info-main h2 {
  margin: 2rem 0 1.5rem 0;
  font-size: 2rem;
  font-weight: bold;
}
.info-right {
  border-left: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top:1rem;
  padding-bottom: 2rem;
}
.info-item {
  display: flex;
}
.info-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
    margin-bottom: .5rem;
}
.info-item img {
  max-width: 35%;
  align-self: center;
  padding: 1rem;
}
.info-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.3;
}
.readmore {
  font-weight: bold;
  color: firebrick;
  margin-top: .5rem;
}

/* START LEARNING */
.learning {
  background-color: #C0C0C0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.courses {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

/* THESIS */
.thesis {
  display: flex;

}
.thesis-video {
  width: 60%;
}
.thesis-info {
  width: 423px;
  height: 168px;
}
.thesis-info img {
  margin: 16px;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: thin solid gray;
  max-height: 3rem;
}
.copyright {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}
.terms {
  margin-right:1rem;
  margin-top: 1.5rem;
}
.terms span {
  padding-right: .5rem;
}
