html {
  font-size: 16px;
  font-family: Lato, sans-serif;
  color: #8c8c8c;
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0 2rem 0;
  color: firebrick;
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: firebrick;
}

/* NAVIGATION */
nav {
  display: flex;
  align-items: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: #F5F3F5;
}
.nav-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.company {
  display: flex;
  align-items: center;
  margin-left: 1.25rem;
}
.company img {
  margin-right: .5rem;
  max-height: 3rem;
}
.company .bold {
  font-size: 1.25rem;
  color: black;
}
.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav li {
  margin-right: 1rem;
}
.nav-mobile {
  display: none;
}
@media only screen and (max-width: 755px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .nav-mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
  }
}

/* BANNER*/
.banner {
  background-color: #576CA8;
}
.banner-info {
  display: flex;
}
.banner-info img {
  width: 60vw;
  margin: 2rem 2.5rem 2rem 1.5rem;
}
.banner-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.banner-text h1 {
  color: white;
  margin-bottom: 1rem;
}
p.credit {
  font-size: .75rem;
  margin-top: 2rem;
}
.start-button {
  color: white;
  background-color: #274690;
  padding: 1rem 4rem;;
  position: relative;
  top: 2rem;
}
@media only screen and (max-width: 755px) {
.banner-info {
  flex-wrap: wrap;
  padding-bottom: 2rem;
}
.banner-info img {
  width: 100%;
  margin: 0%;
  align-items: center;
}
.banner-text {
  width: 100%;
  align-items: center;
  margin: 2rem 1rem;
  }
.banner-text h1 {
  text-align: left;
  line-height: 1.2;
  margin-bottom: 2rem;
  }
.banner-text h3 {
  line-height: 1.5;
  margin-bottom: 1.5rem;
  }
.start-button {
  width: 65%;
  text-align: center;
  top: 0;
  }
}

/* INFO SECTION */
.info {
  display: flex;
  width: 100%;
}
.info-main {
  width: 60%;
  margin: 1rem 1.5rem;
  padding-bottom: 2rem;
}
.info-main img {
  width: 100%;
  padding-top: 1rem;
}
.info-main h2 {
  padding-bottom: 1.5rem;
}
.info-right {
  border-left: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top:1rem;
  padding-bottom: 2rem;
  background-color: #E5F3F5;
}
.info-item {
  display: flex;
}
.info-item .mobile {
  display: none;
}
.info-item h3 {
  margin-bottom: .5rem;
}
.info-item img {
  max-width: 35%;
  align-self: center;
  padding: 1rem;
}
.info-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.3;
}
.readmore {
  font-weight: bold;
  color: #274690;
  margin-top: .5rem;
}

@media only screen and (max-width: 755px) {
.info-main {
  display: none;
}
.info-right {
  width: 100%;
}
.info-item {
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}
.info-item img {
  max-width: 100%;
}
.info-item .desktop {
  display: none;
}
.info-item .mobile {
  display: block;
  width: auto;
}
.info-item-text {
  text-indent: 1rem;
}
}

/* START LEARNING */
.learning {
  text-align: center;
}
.learning-desktop {
  background-color: #F5F3F5;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 1rem;
  background-color: #1B264F;
}
.course {
  width: 25%;
  margin: 1rem;
}
.course img {
  width: 100%;
}
.course-description {
  background-color: white;
  padding: 1rem 1rem 1.5rem 1rem;
  height: 40%;
}
.course-description h3 {
  color: firebrick;
}
.course-title {
  font-weight: bold;
  padding: .5rem 0;
}
.learning-mobile {
  display: none;
}

@media only screen and (max-width: 755px) {
.learning {
  margin-bottom: 2rem;
}
.courses {
  display: block;
}
.learning-desktop {
  display: none;
}
.learning-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.course-mobile {
  width: 75%;
  padding: 1rem;
  margin-bottom: .5rem;
  background-color: #576CA8;
}
.course-mobile h3 {
  color: white;
}
}
/* THESIS */
.thesis-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F5F3F5;
}
.thesis-section h2 {
  padding-bottom: 2rem;
}
.thesis {
  display: flex;
  flex-direction: row;
}
.thesis-video {
  display: flex;
  flex-direction: column;
  background-color: #576CA1;
  padding-bottom: 2rem;
}
.thesis-video video {
  margin: 1.5rem;
  width: 90%;
}
.video-text {
  margin-left: 1.5rem;
  width: 90%;
}
.video-text h3 {
  padding-bottom: 1rem;
}
.video-text p {
  line-height: 1.3;
}
.thesis-info {
  display: flex;
  flex-direction: row;
  width: 423px;
  height: 168px;
}
.thesis-info img {
  width: 35%;
  margin: 1rem;
}
.thesis-info-text {
  display: block;
  align-self: center;
}
.thesis-info-text h3 {
  padding-bottom: 1rem;
}

@media only screen and (max-width: 755px) {
.thesis-right {
    display: none;
  }
.thesis-video {
  padding-bottom: 0;
}
.thesis-video video {
  margin: 0;
  width: 100%;
  padding: 1.5rem 0;
}
.video-text {
  display: none;
}
}
/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: .75rem;
  margin: 0;
  border-top: 1px solid lightgray;
  background-color: #F5F3F5;
}
.terms span {
  padding-right: 1rem;
}

@media only screen and (max-width: 755px) {
.terms {
  display: none;
}
}
